<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469010562127-ve1u5hbj3abt9f1bmpq09o854ja0430l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469010562127-ve1u5hbj3abt9f1bmpq09o854ja0430l</string>
	<key>API_KEY</key>
	<string>AIzaSyCiScCfGc5noEzBSUltK3fx9xAnz7nJ8rI</string>
	<key>GCM_SENDER_ID</key>
	<string>469010562127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tcc.Real-Food</string>
	<key>PROJECT_ID</key>
	<string>real-food-d2eae</string>
	<key>STORAGE_BUCKET</key>
	<string>real-food-d2eae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469010562127:ios:7bca23d511e44992fc3e3a</string>
</dict>
</plist>